/*
* @Author: Felipe J. L. Rita
* @Date:   2016-11-25 03:02:30
* @Last Modified by:   Felipe J. L. Rita
* @Last Modified time: 2016-11-28 19:07:20
*/

$template-color: #4393FE;
$secondary-color: #E74C3C;
$three-color: #1ABC9C;
$four-color: #9B59B6;
$text-color: white;

$navbar-size: 80px;
$breadcrumb-size: 60px;
