/*
* @Author: Felipe J. L. Rita
* @Date:   2016-11-24 00:56:08
* @Last Modified by:   Felipe J. L. Rita
* @Last Modified time: 2016-11-28 22:19:41
*/

/* Fonts */
 @import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/* Partial templates */
@import 'variables';
@import 'bootstrap_template';

/* Colors */
.color-1 { background-color: $template-color; }
.color-2 { background-color: $secondary-color; }
.color-3 { background-color: $three-color; }
.color-4 { background-color: $four-color; }

.text-info { color: $four-color; }

/* Classes auxiliares */
.t-margin { margin-top: 20px; }
.margin-0 { margin: 0 !important; }
.radius-0 { border-radius: 0 !important; }
.pb-0 { padding-bottom: 0 !important; }
.hover { cursor: pointer; }
.success { background-color: #B8F2CB !important; }
.window { padding: 30px; background-color: white; }
.text-ident {
	text-indent: 30px;
}
.pad-0{ padding: 0; }
.shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.navbar-default {
	//background-color: $template-color;
	border: none;
	height: $navbar-size;
	.navbar-brand, .navbar-brand:hover {
		font-size: 2em;
		padding: 0 15px;
		color: $text-color;
		height: $navbar-size;
		line-height: $navbar-size;
	}
}

.explicacao {
	div {
		font-family: 'Open Sans', sans-serif;
		line-height: 25px;
	}
	.icons-line {
		text-align: center;
		i { font-size: 50px; margin: 25px 40px; }
		img {
			margin: 25px 40px;
			height: 50px;
			width: 50px;
		}
	}
}

span.actions {
	display: block;
	float: right;
}

.p-top {
	padding-top: 10px;
}
.no-pad-left {
	padding-left: 2px;
}
.no-pad-right {
	padding-right: 2px;
}
.content {
	margin-top: 50px;
	.explicacao {
		margin-top: 50px;
	}
}

.navbar-title {
	font-size: 2em;
	font-weight: 500;
	line-height: $navbar-size;
	color: $text-color;
	font-family: 'Roboto', sans-serif;
}

.list-cool {
	border: none;
	border-radius: 0;
	border-top: thin solid #ddd;
	&:first-child{ border-top: none; } 
	.list-header { font-size: 1.2em; }
	.list{ text-indent: 10px; }
}