<div ng-include src="'public/partials/header.html'"></div>
<ol class="breadcrumb">
	<div class="container">
		<div class="col-sm-10 col-sm-offset-1">
		  <li><a href="{{ URL }}/#/">Página inicial</a></li>
		  <i class="fa fa-chevron-right" aria-hidden="true"></i>
		  <span ng-if="Home.editar">
			  <li><a href="{{ URL }}/#/search">Buscar voo</a></li>
			  <i class="fa fa-chevron-right" aria-hidden="true"></i>
		  </span>
		  <li class="active">{{ Home.editar? 'Edição de voo' : 'Cadastro de voo' }}</li>
		</div>
	</div>
</ol>
<div class="container">
	<div class="row content">
		<div class="col-sm-8 explicacao">
			
			<div class="col-sm-10 col-sm-offset-1" ng-if="!Home.editar">
				<div class="row">
					<div class="col-sm-12 text-ident">
						Para cadastrar um voo é necessário: uma origem e um destino, uma companhia responsável por esse voo, e qual modelo de aeronave será utilizado nesse voo, além de uma data e horário de partida e ambas as estimações para a chegada 
					</div>
				</div>
				<div class="icons-line">
					<img src="public/images/departures.svg" alt="">				
					<img src="public/images/arrival.svg" alt="">				
					<img src="public/images/plane-ticket.svg" alt="">				
					<img src="public/images/alarm-clock.svg" alt="">				
				</div>
				<div class="row text-ident">
					<div class="col-sm-12">
						Aeroportos de escala também podem ser inseridos no itinerário de seu voo, a partir do botão "Selecionar aeroportos" :)
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-sm-offset-1" ng-if="Home.editar">
				<div class="row">
					<div class="col-sm-12 text-ident">
						A edição de voos segue o padrão de cadastro, sendo assim, todas as informações disponíveis no cadastro estão presentes, tais como: aeroportos de origem, partida e escalas, horários e companhia responsável
					</div>
				</div>
				<div class="icons-line">
					<img src="public/images/departure_green.svg" alt="">				
					<img src="public/images/arrival_green.svg" alt="">				
					<img src="public/images/control-tower.svg" alt="">				
					<img src="public/images/watch.svg" alt="">				
				</div>
				<div class="row text-ident">
					<div class="col-sm-12">
						A edição do status do voo deve ser feita diretamente no menu de buscas de forma rápida e eficaz :)
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-4 window">
			<div class="errors col-sm-10" ng-show="Home.errors.length || Home.warning.length">
				<div ng-repeat="erro in Home.errors track by $index">{{ erro }}</div>
				<div ng-repeat="erro in Home.warning track by $index">{{ erro }}</div>
			</div>
			<form ng-submit="Home.cadastrar()" name="formDados" novalidate>

				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="btn btn-block" data-toggle="modal" data-target="#modalAeroporto">
							{{ Home.createData.origem && Home.createData.destino && !Home.warning.length ? 'Trocar aeroportos' : 'Selecionar aeroportos' }}
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="btn btn-block" id="select-companhia" data-toggle="modal" data-target="#modalCompanhia">Selecionar companhia</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<select class="select-picker input-group-btn" data-dropup-auto="false" tabindex="{{ Home.form.modelo_aeronave }}" data-style="" data-live-search="true" ng-model="Home.form.modelo_aeronave" ng-init="Home.search({}, 'Aeronave')" required>
							<option disabled selected value> -- Selecione um modelo de aeronave -- </option>
							<option ng-repeat="option in Home.data.Aeronave" value="{{option.modelo}}"
								data-subtext="<br>{{ option.capacidade }} pessoas: {{ option.passageiros }} passageiros, {{ option.tripulacao }} tripulantes">
								{{ option.modelo }}
							</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 no-pad-right">
						<div class="input-group date" >
						  <input class="form-control text-center" ui-mask="99/99/9999" placeholder="Data de partida" ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="Home.form.data_partida" type="text" required name="data_partida">
						  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
					<div class="col-lg-6 no-pad-left text-center">
						<div class="input-group time" >
						  <input class="form-control text-center" ui-mask="99:99" ui-mask-placeholder ui-mask-placeholder-char="_" type="text" ng-model="Home.form.hora_partida" placeholder="Hora de partida" required name="hora_partida">
						  <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 no-pad-right text-center">
						<div class="input-group date" >
						  <input class="form-control text-center" placeholder="Data de chegada" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="Home.form.data_chegada" type="text" name="data_chegada">
						  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
					<div class="col-lg-6 no-pad-left text-center">
						<div class="input-group date" >
						  <input class="form-control text-center" ui-mask="99:99" placeholder="Hora de chegada" ui-mask-placeholder ui-mask-placeholder-char="_"  ng-model="Home.form.hora_chegada" type="text" required name="hora_chegada">
						  <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button type="button" data-toggle="modal" data-target="#modalReplica" class="btn btn-block">Replicar voo</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 p-top">
						<button ng-disabled="!formDados.$valid || !Home.createData.origem || !Home.createData.destino || !Home.createData.companhia || Home.warning.length" type="submit" ng-class="Home.editar?'btn-success':'btn-primary'" class="btn btn-block">{{ Home.editar?'Editar':'Cadastrar' }} voo</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="modalReplica" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Replicar voo</h4>
			</div>
			<div class="modal-body">
				<form class="row" name="formReplica">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="row">
							<div class="col-sm-12">
								<select class="select-picker input-group-btn" ng-model="Home.form.periodo_replica" required>
									<option disabled selected value>-- Selecione a periodicidade do voo --</option>
									<option value="1">Diário</option>
									<option value="2">Semanal</option>
									<option value="3">Mensal</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="input-group date">
								  <input class="form-control text-center" ng-pattern="/^[0-9]*$/" 
								  	placeholder="Quantidade de voos" ng-model="Home.form.qtd_replica" type="text" required name="qtd_replica">
								  <span class="input-group-addon"><i class="fa fa-hashtag" aria-hidden="true"></i></span>
								</div>
								<small ng-show="!formReplica.qtd_replica.$valid && formReplica.qtd_replica.$dirty">Informe apenas números :(</small>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" ng-disabled="!formReplica.$valid" ng-class="Home.editar?'btn-success':'btn-primary'" class="btn" data-dismiss="modal">Concluir</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="modalCompanhia" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Buscar companhias</h4>
      </div>
      <div class="modal-body">
				<div class="row"><div class="col-sm-10">Não esqueça, para cadastrar um voo uma companhia também é obrigatória ;) </div></div>
      	<div class="row">
	        <form class="col-sm-12" ng-submit="Home.search(Home.formDataC, 'Companhia')" ng-model="Home.formDataC">
	        	<div class="row">
		        	<div class="col-sm-3 no-pad-right">
			        	<div class="input-group">
								  <span class="input-group-addon" id="sizing-addon2">@</span>
								  <input type="text" ng-model="Home.formDataC.nome" class="form-control" placeholder="Nome" aria-describedby="sizing-addon2">
								</div>
		        	</div>
		        	<div class="col-sm-3 no-pad-right no-pad-left">
			        	<div class="input-group">
								  <span class="input-group-addon" id="sizing-addon2">@</span>
								  <input type="text" ng-model="Home.formDataC.sigla" class="form-control" placeholder="Sigla" aria-describedby="sizing-addon2">
								</div>
		        	</div>
		        	<div class="col-sm-3 no-pad-right no-pad-left">
			        	<div class="input-group">
								  <span class="input-group-addon" id="sizing-addon2">@</span>
								  <input type="text" ng-model="Home.formDataC.codigo" class="form-control" placeholder="Código identificador" aria-describedby="sizing-addon2">
								</div>
		        	</div>
		        	<div class="col-sm-3 no-pad-left">
							  <button ng-class="Home.editar?'btn-success':'btn-primary'" class="btn btn-block">Pesquisar</button>
		        	</div>
	        	</div>
	        </form>
      	</div>
	
				<div class="panel panel-default" ng-show="Home.data.Companhia.length || Home.editar">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Companhias encontradas</div>
					<div class="list-group">
						<a class="list-group-item hover picker" data-dismiss="modal" ng-repeat="(key, el) in Home.data.Companhia"
							ng-click="Home.setVal(el.codigo, 'companhia')" id="comp-{{ el.codigo }}">
							<span class="list-header">{{ el.sigla }} - {{ el.nome }}</span><br>
							<span class="list-body">
								Código identificador: {{ el.codigo }}
							</span>
		    		</a>
					</div>
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" ng-class="Home.editar?'btn-success':'btn-primary'" class="btn" data-dismiss="modal">Confirmar</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal Warning
<div ng-if="Home.warning.length">
	<div class="modal fade" id="modalWarning">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Aviso</h4>
				</div>
				<div class="modal-body">
					<div ng-repeat="aviso in Home.warning" class="p-top">{{ aviso }}</div>
				</div>
				<div class="modal-footer">
					<button ng-click="Home.validate(true)" type="button" class="btn" ng-class="Home.editar?'btn-success':'btn-primary'" data-dismiss="modal">Ok, sou um animal</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript-lazy">
		setTimeout( ()=>{
			$( `#modalWarning` ).modal();			
		}, 200);
	</script>
</div>
-->

<!-- Modal -->
<div id="modalAeroporto" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="Home.validate()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Buscar aeroportos</h4>
      </div>
      <div class="modal-body">
      	<div class="row"><div class="col-sm-6">Você pode combinar filtros ou não utilizar nenhum DIY :)</div></div>
      	<div class="row">
	        <form class="col-lg-12" ng-submit="Home.search(Home.formData, 'Aeroporto')" ng-model="Home.formData">
	        	<div class="row">
		        	<div class="col-sm-3 no-pad-right">
			        	<div class="input-group">
								  <span class="input-group-addon" id="sizing-addon2">@</span>
								  <input type="text" ng-model="Home.formData.nome" class="form-control" placeholder="Nome" aria-describedby="sizing-addon2">
								</div>
		        	</div>
		        	<div class="col-sm-3 no-pad-right no-pad-left">
			        	<div class="input-group">
								  <span class="input-group-addon" id="sizing-addon2">@</span>
								  <input type="text" ng-model="Home.formData.cidade" class="form-control" placeholder="Cidade" aria-describedby="sizing-addon2">
								</div>
		        	</div>
		        	<div class="col-sm-3 no-pad-left no-pad-right">
			        	<div class="input-group">
								  <span class="input-group-addon" id="sizing-addon2">@</span>
								  <input type="text" ng-model="Home.formData.codigo" class="form-control" placeholder="Código identificador" aria-describedby="sizing-addon2">
								</div>
		        	</div>
		        	<div class="col-sm-3 no-pad-left">
							  <button ng-class="Home.editar?'btn-success':'btn-primary'" class="btn btn-block">Pesquisar</button>
		        	</div>
	        	</div>
	        </form>
      	</div>
      	<div class="row"><div class="col-sm-10">Não esqueça, para cadastrar um voo origem e destino são obrigatórios ;) </div></div>

				<div class="panel panel-default" ng-show="Home.createData.origem || Home.createData.destino || Home.createData.escala.length">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Aeroportos selecionados</div>
			  	<div class="list-group">
						<a class="list-group-item hover" ng-click="" ng-show="Home.createData.origem">
							<span class="actions">
								<i class="fa fa-close hover" data-item="{{ Home.createData.origem.codigo }}" ng-click="Home.remove('origem')"></i>
							</span>
			    		<span class="list-header">{{ Home.createData.origem.nome }}</span><br>
							<span class="list-body">
								{{ Home.createData.origem.cidade }}, {{ Home.createData.origem.estado }}
							</span><br>
							<span>Aeroporto de origem</span>
		    		</a>
		    		<a class="list-group-item hover"
		    			ng-repeat="(key, el) in Home.createData.escala" ng-show="Home.createData.escala">
							<span class="actions">
								<i class="fa fa-close hover" data-item="{{ el.el.codigo }}" ng-click="Home.remove('escala', key)"></i>
							</span>
			    		<span class="list-header">{{ el.el.nome }}</span><br>
							<span class="list-body">
								{{ el.el.cidade }}, {{ el.el.estado }}<br>
								<span>Aeroporto de escala</span>
							</span>
		    		</a>
						<a class="list-group-item hover" ng-click="" ng-show="Home.createData.destino">
							<span class="actions">
								<i class="fa fa-close hover" data-item="{{ Home.createData.destino.codigo }}" ng-click="Home.remove('destino')"></i>
							</span>
			    		<span class="list-header">{{ Home.createData.destino.nome }}</span><br>
							<span class="list-body">
								{{ Home.createData.destino.cidade }}, {{ Home.createData.destino.estado }}
							</span><br>
							<span>Aeroporto de destino</span>
		    		</a>
					</div>
			  </div>
	
				<div class="panel panel-default" ng-show="Home.size.Aeroporto">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Aeroportos encontrados</div>

					<div class="list-group">
						<a class="list-group-item hover" ng-repeat="(key, el) in Home.data.Aeroporto | filter:Home.filterSelect" id="list-{{ el.codigo }}">
			    		<script type="text/javascript-lazy">
			    			$('[data-toggle="tooltip"]').tooltip(); 
			    		</script>
							<span class="actions results">
								<i ng-hide="Home.createData.origem" class="fa fa-street-view" aria-hidden="true" data-placement="bottom" data-toggle="tooltip" title="Selecionar origem" ng-click="Home.setVal(el, 'origem')"></i>
								<i  data-placement="bottom" data-toggle="tooltip" title="Selecionar escala" class="fa fa-map-signs" aria-hidden="true" ng-click="Home.setEscala(el, key)"></i>
								<i ng-hide="Home.createData.destino" class="fa fa-map-marker"  data-placement="bottom" data-toggle="tooltip" title="Selecionar destino" aria-hidden="true" ng-click="Home.setVal(el, 'destino')"></i>
							</span>
			    		<span class="list-header">#{{el.codigo}} {{ el.nome }}</span><br>
							<span class="list-body">
								{{ el.cidade }}, {{ el.estado }}
							</span>
		    		</a>
					</div>
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="Home.validate()" ng-class="Home.editar?'btn-success':'btn-primary'" class="btn" data-dismiss="modal">Confirmar</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript-lazy">
	$('[data-toggle="tooltip"]').tooltip();

	setTimeout( function(){
		$('.select-picker').selectpicker({noneResultsText: 'Nenhum resultado encontrado'});
	}, 500 );

	$(document).on( 'click', 'a.picker', function(){
		$('#select-companhia').text( this.querySelector('.list-header').innerText );
	})

	$(document).on( 'click', '.actions.results i', function(){
		this.parentNode.parentNode.style.display = 'none';
	});

</script>