<nav class="navbar navbar-default margin-0 radius-0 color-{{ color }}">
  <div class="container">
  	<div class="row">
	  	<div class="col-sm-1 col-sm-offset-1">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/#">
		        <i class="fa fa-plane" aria-hidden="true"></i>
		      </a>
		    </div>
	  	</div>
	  	<div class="col-sm-5 navbar-title">
	  		{{ title }}
	  	</div>
  	</div>
  </div>
</nav>
<div ng-show="loading"><div ng-include src="'public/loading/load.html'"></div></div>